<!DOCTYPE html>
<html>
<head>
<link rel="STYLESHEET" href="miestilo.css">
    <div class="parrafo1">
    <p style="color: rgb(38, 175, 38)">
        Somos una empresa que se dedica a la venta de relojes de mesa y pared con diseños 
        únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos productos a 
        la medida del cliente. 
    </p>
        
    <p>
        hola
    </p>
    </div>
    <title>Página de la actividad 2</title>
    

</head>
<body>
  <header><img class="grande" src="logoo.png"></header>
    <nav><ul>
		
        <li><a href="https://talentosdigitales.ar/">T.D.</a></li>
		<li><a title="instagram" href="https://www.instagram.com/"><img class="pequeña" src="Instagram-Icon.png.webp" alt="instagram">Instagram</a></li>
		
        <li><a title="facebook" href="https://www.facebook.com/"><img class="pequeña" src="Facebook_f_logo_(2019).svg.png" alt="facebook">Facebook</a></li>
        
	 </ul></nav>
    <section>
    </section>
    <footer><div class="footer-content">Derechos de autor &copy; 2023 Mi página web. Todos los derechos 
reservados</div>
    </footer>  
</body>
</html>

